# RStudio / R
.Rproj.user/
.Rhistory
.RData
.Ruserdata



# Mac
.DS_Store

# LaTeX
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.gz
#python
*.pyc
__pycache__/
*.venv
## VAR outputs / figures
VAR_files/
*VAR_files*/
**/VAR_files/
**/*VAR_files*/
/.quarto/
**/*.quarto_ipynb
